

<div class="error-body">
    <div class="heading"> 

    </div>
    <div class="container">
        <div class="content">
            <img src="assets/Bus-banner/ticet-errors.jpg" alt="Banner Image" style="width: 45%;height: 40%;">
            <img src="assets/Bus-banner/error-oops.jpg" alt="Banner Image" style="width: 20%;height: 20%;margin-top: 50px;">
            <br>
            <span style="margin-left: 600px;margin-bottom: 30px;">{{errorMessage}}</span>
            <div class="contents">
               

            </div>


        </div>

    </div>
</div>
