<div class="body-init">
    <div class="column">
       <div style="padding: 20px;">
           <h4 >Advantages of booking bus tickets online on BusVia</h4>
           <p style="padding: 10px;">The most important part of any trip is planning because if you plan well, you are sure to enjoy your trip better. And online bus bookings allow you just that. You can check for bus routes to your destination, compare prices with other nearby routes, choose from AC/non-AC buses as per your preference and more, all within a few minutes and with just a few taps on your phone. </p>
       </div>
       <div style="padding: 20px;">
           <h4 >What’s more?</h4>
           <p style="padding: 10px;">Online bus ticket booking also gives you the freedom to choose your mode of payment. No more do you have to carry cash or pay for your tickets in cash. You can avail a variety of payment modes when you choose to book bus online on BusVia. </p>
       </div>
    </div>
    <div class="separator"></div>

    <div class="column">
          <div style="padding: 20px;">
           <h4 >MySafety Assurance on Bus Bookings</h4>
           <p style="padding: 10px;">All the buses available on our platform follow stringent safety protocols and government-mandated social distancing guidelines, with the primary focus on customer safety.
            All customers have to undergo temperature checks mandatorily before boarding the bus.
            All the buses come with hand sanitisers.All the staff wear masks and gloves to minimize direct contact.The vehicle is thoroughly disinfected after the completion of every bus ride. </p>
       </div>
       <div style="padding: 20px;">
           <h4 >Why Busvia for Bus Booking?</h4>
           <p style="padding: 10px;">The leading player in online Bus bookings in India, Busvia offers lowest fares, exclusive discounts and a seamless online booking experience. Desktop or mobile site is a delightfully customer friendly experience, and with just a few clicks you can complete your booking. </p>
       </div>
    </div>
</div>
<div class="body">

    <div class="line">
    </div>
    <div >
        <div class="content">
            BusVia.com
        </div>
        <div class="grid-container">
            <div class="grid-item1"><img src="assets/Bus-banner/loggo.jpg" alt="" style="margin-top: 10px; height: 70px;width: 70px;border-radius: 40px;margin-right: 40px;">BusVia.com</div>
            <div class="grid-item1"><img src="assets/Bus-banner/Instagram.webp" alt="" style="margin-top: 10px; height: 70px;width: 70px;border-radius: 40px;margin-right: 40px;">BusVia</div>
            <div class="grid-item1"><img src="assets/Bus-banner/facebook-logo.webp" alt="" style="height: 100px;width: 100px;border-radius: 60px;margin-right: 50px;">BusVia</div>
            <div class="grid-item1"><img src="assets/Bus-banner/witter.webp" alt="" style="margin-top: 10px; height: 70px;width: 70px;border-radius: 40px;margin-right: 40px;">BusVia</div>
            
        </div>
    </div>
    <div class="line1">

    </div>

</div>
