
<div class="body">
 <div class="hd1">
   ABOUT  US
 </div>

 <div class="hd2">
    <div class="column" style="background-color: rgb(56, 112, 93);height: 4px;">
        <div class="column"  style="height: 4px;" >
          <div class="text">
            <div style="padding: 60px;">
                <p> <b style="padding-left: 20px;">  BusVia</b> is a comprehensive bus booking application serving customers across India, offering an array of features to enhance the travel experience. As a leading platform in the realm of bus ticketing, BusVia provides a seamless and efficient way for travelers to plan and book their bus journeys with ease and convenience.

                    With BusVia, users gain access to a vast network of bus operators and routes spanning the length and breadth of the country, ensuring connectivity to even the most remote destinations. Whether it's a short inter-city trip or a long-haul journey, BusVia caters to diverse travel needs, offering a wide range of bus types, including luxury coaches, sleeper buses, and more.
                    
                    One of BusVia's standout features is its commitment to passenger safety and comfort. Through stringent safety protocols, regular vehicle sanitization, and adherence to government-mandated guidelines, BusVia prioritizes the well-being of its passengers at every step of the journey.<br><br>
                    
                        <b style="padding-left: 20px;font-weight: 400;">Moreover,</b>  BusVia's user-friendly interface and intuitive booking process make it effortless for travelers to search for routes, compare fares, and secure their seats with just a few clicks. Additionally, the platform offers flexible payment options, ensuring convenience and accessibility for all users.
                    
                    In summary, BusVia is more than just a bus booking application; it's a reliable travel companion that empowers users to embark on their journeys with confidence, comfort, and convenience, reaffirming its position as a trusted leader in the online bus booking space.</p>
            </div>
           
          </div>
        </div>
        <div>
            <img src="assets/Bus-banner/bus-pic.webp" alt="" style="height: 320px;width: 500px;border-radius: 1cap;margin-left: 800px;margin-top: 50px;">
        </div>
        
    </div>
  

 </div>

</div>
