
<div class="set-pswd-head">
    <div class="container">
        <div class="set-pswd-content">Set your new password ?
             <!-- OTP Card Component Template -->
                <div class="otp-card">
                    <!-- <form (ngSubmit)="submitOtp()"> -->
                    <div class="otp-inputs">
                     <!-- <input type="number" maxlength="1" name="otp1" (keyup)="onKeyUp(0)">  -->
                        <!-- <input type="number" maxlength="1" [(ngModel)]="otp[1]" name="otp2" #otp2="ngModel" (keyup)="onKeyUp(1)">
                        <input type="number" maxlength="1" [(ngModel)]="otp[2]" name="otp3" #otp3="ngModel" (keyup)="onKeyUp(2)">
                        <input type="number" maxlength="1" [(ngModel)]="otp[3]" name="otp4" #otp4="ngModel" (keyup)="onKeyUp(3)"> --> 
                    </div>
                    <button type="submit" class="submit-btn" (click)="handleChangePassword()">Set Password</button>
                    <!-- </form> -->
                </div>
        </div>
          
    </div>
    
</div>
