
<div class="container my-0" style="max-width: 1600px;background: linear-gradient(90deg, #9498e0, #862fc0);">
    <div class="row" >
  
      <div class="col-md-6 border-right" style="margin-right:40px ; height: 100px; margin-top: 50px;margin-left: 30px;margin-bottom: 20px;
         background: linear-gradient(90deg, #292965, #453053);border-radius: 10px;">
      
         <div class="text-right p-4" style="border: 12 px #1b1a1c;">
  
           <h2 style="text-align: center;color: aliceblue;">Busvia.com</h2>
         </div>
         <div class="immg">
          <img src="assets/Bus-banner/bus-bus.jpg" alt="Banner Image" style="width:70%;height: 360px;border-radius: 5px;">
         </div>
       
       </div>
       
  
      <div class="col-md-5"  style="padding: 40px;padding-top: 0px; height:500px;margin-top: 50px;background: linear-gradient(90deg, #f8f8f9, #e7e8f2);border: 1 px solid black;border-radius: 5px;">
    
        <div class="heading text-left mb-4">
          <h4>Login</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        
        
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
            <small *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty && loginForm.get('email')?.touched)" 
               class="block p-error">
              {{ getErrorMessageForEmail('email') }}
            </small>
        </div>

  
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
            <div *ngIf="passwordRequiredError" class="text-danger">* Password is required</div>
            <div *ngIf="passwordMinLengthError" class="text-danger">Password must be at least 6 characters.</div>
          </div>
  

          <app-button  [isSignup]="true" (click)="submitForm()" >Login</app-button>
  
          <div class="mt-4">
            Not a member? <a routerLink="/authentication/register">Register Now</a> 
              <span style="color: rgb(29, 28, 28);margin-left: 150px;font-size: 15px;margin-right: 10px;">forgot password?</span><a (click)="openForgotPasswordModal()">Click here</a>
          </div>
        </form>
      </div>
  
    </div>
  </div>
  

 
  