
    <p-toast></p-toast>
    <app-navbar></app-navbar>

  <!-- <ngx-ui-loader></ngx-ui-loader>     -->

 <!-- <h2>Welcome appComponent</h2>
 <ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="/authentication">Authentication</a>
  </li>
  <li>
    <a routerLink="/customer">customer</a>
  </li>
  <li>
    <a routerLink="/authentication/login">login</a>
  </li>
  <li>
    <a routerLink="/authentication/register">reister</a>
  </li>
 </ul> -->
 <!-- <router-outlet>

 </router-outlet> -->
  