


<div class="row">
    <div class="title-bar">
         <h5>Book Your Tickets</h5>
    </div>
    <div class="col-md-8 frame">
        <div class="bus-card" style="display: flex;">
            <div class="col-md-2 busdata" style="padding-left: 50px; margin-top: 10px;">
                <h4>{{busName}}</h4><span>{{category}}</span>
                <h5>{{busType}}</h5>
            </div>

            <div class="col-md-7" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-md-6 place1">
                        <div style="margin-left: 0px;"><span></span><h3><span style="margin-right: 26px;">From :</span>{{from}}</h3> </div>
                    </div>
                   
                    <div class="col-md-5 place2">
                        <div style="margin-left: 40px;padding-left: 30px;"> <h3><span style="margin-right: 30px;">To : </span> {{to}}</h3></div>
                    </div>
                </div>
           
                <div class="row">
                    <div class="col-md-5">
                        <div>{{departuredate}}</div>
                    </div>
                    <div class="col-md-5 offset-md-2"> <!-- Use offset to create space between columns -->
                        <div>{{arrivaldate}}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        
                        <div >{{departureTime}}</div>
                    </div>
                    <div class="col-md-6" style="margin-left: 356px;"> <!-- Use offset to create space between columns -->
                        
                        <div style="margin-top: 0px;padding-top: 0px;">{{arrivalTime}}</div>
                    </div>
                </div>
                

            </div>
            
        </div>
        <div class="frame2">
            <div class="heading1">
              <h6>Travelers</h6>
            </div>
            <div class="row"  *ngFor="let passenger of passengers">
                <div class="col-md-3 content">
                    <strong>Name : </strong> <h6 style="display: inline;">{{passenger.name}}</h6>
                </div>
                <div class="col-md-3 content">
                    <strong>Gender : </strong><h6 style="display: inline;">{{passenger.gender}}</h6>
                </div>
                <div class="col-md-3 content">
                    <strong>Age : </strong> <h6 style="display: inline;">{{passenger.age }}</h6>
                </div>
                <div class="col-md-3 content1">
                   
                    <div  class="ticketCard">{{passenger.seatNumber+1}}</div>
                </div>
            </div>
        </div>
        <div class="frame2">
            <div class="heading1">
              <h6>Contact info</h6>
            </div>
            <div class="row">
                <div class="col-md-6 content">
                    <strong>Email : </strong> <h6 style="display: inline;">{{email}}</h6>
                </div>
                <div class="col-md-6 content">
                    <strong>Contact : </strong><h6 style="display: inline;">{{contact}}</h6>
                </div>
            </div>
            
        </div>

            <div class="payment-options-body">
                <div class="payment-options">
                    <input type="radio" id="walletPayment" name="paymentOption" [(ngModel)]="selectedPaymentOption" [value]="PaymentOption.WalletPayment" (click)="logSelectedOption()">
                    <label for="walletPayment">Wallet Payment</label>
            
                            
                    <input type="radio" id="onlinePayment" name="paymentOption"  [(ngModel)]="selectedPaymentOption" [value]="PaymentOption.OnlinePayment" (click)="logSelectedOption()">
                    <label for="onlinePayment">Online Payment</label>
                </div>
            </div>
       
        
        <div >
       
            <div *ngIf="selectedPaymentOption === PaymentOption.WalletPayment">
                <button class="payandBookButton" onmouseover="this.style.backgroundColor='#4d96ce';" onmouseout="this.style.backgroundColor='#3e89c6';"  (click)="payBookWithWallet()">PayNow</button>
              </div>
              
              <div *ngIf="selectedPaymentOption === PaymentOption.OnlinePayment">
                <button class="payandBookButton" onmouseover="this.style.backgroundColor='#4d96ce';" onmouseout="this.style.backgroundColor='#3e89c6';" (click)="payBook()">PayNow</button>
              </div>
        </div>
    </div>

    <div class="col-md-3">

        <section class="seat-body col-md-6" style="padding-left: 50px;margin-bottom: 20px;">
            <div class="card-book">
                <div class="container">
                    <div class="heading-price">
                        <h5 style="text-align: center;">Price details</h5>
                    </div>
                        <strong>Selected Seats : </strong>
                        <div class="contents content">
                            <ng-container *ngFor="let passenger of passengers">
                              <div class="ticketCards">{{ passenger.seatNumber + 1 }}</div>
                            </ng-container>
                        </div>
                        <div class="content" >
                            <strong>Total seat    : </strong> <h6 style="display: inline;margin-left: 30px;">{{ totalSeats }}</h6>
                         </div>
                         <div class="content" >
                            <strong>Total Fare    : </strong> <h6 style="display: inline;margin-left: 30px;">{{ totalFare }}</h6>
                         </div>
                </div>
            </div>
        </section>

     
        <div >
            <div class="coupons-body">
                <div class="c-head">
                    <strong style="text-align: center;">Select Coupon</strong>
                </div>
                
                <div *ngFor="let coupon of couponInfo" class="coupon-list">
                    <label>
                        <input type="radio" name="selectedCoupon" [value]="coupon.uuid" (change)="selectedCouponUuid = coupon.uuid">
                        {{ coupon.couponName }} - {{ coupon.offPercent }}% off
                    </label>
                </div>
                <button class="coupon-button" *ngIf="!couponApplied" type="button" (click)="applyCoupon(selectedCouponUuid)">Apply</button>
                <button class="cancel-coupon-button" *ngIf="couponApplied" type="button" (click)="cancelCoupon()">Cancel Coupon</button>
            </div>
        </div>
        
        

    </div>
  

</div> 