
.main{
    background-color: black;
min-height: 100vh;
color: white;
display: flex;
justify-content: center;
padding: 2rem;
border: 1px solid rgb(92, 92, 84);
border-radius: 10px;

}

.seat_body{
    background-color: rgb(221, 224, 255);
}

section{
    padding: .5rem;
    text-align: center;

    .seat-lists{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;  
        border: 1px solid rgb(134, 134, 125);
        width: 13rem;
        height: 40rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        /* background-color: #8EC5FC;
background-image: linear-gradient(62deg, #a2d0fd 0%, #d8c3fc 100%); */
     background-color: #a8d3ff;
      background-image: linear-gradient(62deg, #a2d0fd 0%, #ede2ff 100%);
 
      
    }

    .seat{
        width: 1.7rem;
        height: 3.1rem;
        margin: 1px;
        margin-bottom: 3px;
        color: rgba(60, 5, 200, 0.426);
        text-align: center;
        padding: auto;
        border-radius: 4px;
        

    }
    
/* Show index on hover */
.seat:hover::after {
    content: attr(data-index);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #a5a5a5;
    border: 1px solid #ccc;
    padding: 4px 6px;
    border-radius: 4px;
}

    .selected {
        
        border: 2px solid rgb(68, 223, 117);
        background-color: rgb(255, 252, 252);
    }
  

    .booked{
        background-color: rgb(255, 252, 252);
        border: 1px solid rgb(70, 66, 186);

    }

    .seat-list{
        background-color: rgb(252, 254, 255);
    }
    .rotate-icon {
        transform: rotate(180deg); 
    }
    .rotate-icon-notselected {
        transform: rotate(180deg); 
    }
    .selected-icon {
        color: rgb(36, 67, 221); 
      }
    .booked-icon {
         color: rgb(108, 108, 108);
    }
      
   .hovered-icon.rotate-icon {
        color: rgb(255, 173, 162); /* Change the color for hovered seats */
      }

   .hovered-icon-notselected.rotate-icon-notselected {
        color: rgb(41, 64, 162); /* Change the color for hovered seats */
      }
    .booked-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 0, 0, 0.8); /* Red background color with some transparency */
        color: white; 
        padding: 2px 5px; 
        border-radius: 3px; 
        font-size: 10px;
        z-index: 1;
      }
      .selected-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(16, 80, 193, 0.8); 
        color: white; 
        padding: 2px 5px;
        border-radius: 3px; 
        font-size: 10px; 
        z-index: 1; 
      }


      /* new */
      /* Card Styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 20px;
  }
  .card-book {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
    text-align: start;
    background-color: #e5f0f9;
        background-image: linear-gradient(135deg, #eaf6ff 0%, #dee1ff 50%, #eaf7fe 100%);
        ;
        color: #3c3939;
  }
  
  .container {
    padding: 20px;
  }
  
  /* Button Styles */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  .selected-seats-container {
    display: flex;
    flex-wrap: wrap;
}

.seat-box {
    background-color: rgb(209, 134, 199);
    color: white;
    width: 30px;
    height: 32px;
    padding-top: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Style for form fields */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.seat-status {
    display: flex;
    justify-content: space-between;
}

.seat-boxes {
    width: calc(99.33% - 10px); /* Equal width for each box */
    height: 40px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bookedseat {
    
    /* background-color: #a9adbd; */
    border: 2.5px solid #6C6C6C;
    color: #3c3939;
}

.available {
    /* background-color: #8fa1f1; */
    border: 2.5px solid #2443DD;
    color: #3c3939;
}

.vacant {
    /* background-color: #b89df0;  */
    border: 2.5px solid #a488e1;
    color: #3c3939;
}

.status-label {
    color: rgb(45, 42, 42);
    font-size: 13px;
    font-weight: bold;
}
.seat-heading{
    width:100%;
    height: 30px;
    background-color: #030964ab;
    color: white;
    font-size: small;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}
.seat-number-box{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 30px;
}
  .seat-num{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fffdfd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    margin-bottom: 30px;
 
  }
  /* Custom styles for snack bar */
.custom-snackbar {
    background-color: #aa7ba7; /* Background color */
    color: #fff; /* Text color */
    border-radius: 8px; /* Border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Box shadow */
    width: 200px;
    height: 60px;

  }
  
  /* Close button style */
  .custom-snackbar .mat-snack-bar-action {
    color: #fff; /* Button text color */
    font-weight: bold; /* Button text weight */
  }
  
.bookMyseats{
    margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: #d97474;
        background-image: linear-gradient(180deg, #d97474 0%, #e5484b 50%, #ad1919 100%);
        text-align: center;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-size: small;
        font-weight: 600;
        border-radius: 15px;   
        border: none;

}
.bookMyseats:disabled {
    background-color: #d9a1a1;
    opacity: 0.7;
    cursor: not-allowed;
}

.lowerSeat-title{
  background-color: #a4acd3;
  color: white;
  width: 208px;
  height: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

}