<div style="position: relative;">
    <!-- Banner Image -->
    <!-- <img src="assets/Bus-banner/bus-banner.jpg" alt="Banner Image" style="width: 100%;"> -->
    <!-- <img src="assets/Bus-banner/benz-old-bus_edit.jpg" alt="Banner Image" style="width: 100%;"> -->
    <img src="assets/Bus-banner/edit-one.jpg" alt="Banner Image" style="width:100%;height: 550px;">
    <!-- <img src="assets/Bus-banner/black-bus-new.jpg" alt="Banner Image" style="width: 100%;"> -->
  
    <!-- Search Component -->
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; height: 200px;border-radius: 20px 0 0 20px;">
        <app-search></app-search>
    </div>
       
  </div>
  <div>
    <app-coupons></app-coupons>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
  
  
