
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: rgba(111, 162, 210, 0.933);
    /* background-color: #2fda90; */
    color: rgb(255, 255, 255);
  }
  

  tr:nth-child(even) {
    background-color: #ffffff;
  }

  tr:hover {
    background-color: #ffffff;
  }

  td {
    border: 2px solid #f6f6ff;
    text-align: left;
    padding: 8px;
  }
  .booked-button{
    width:90px;
    height:30px;
    border-radius: 5px;
    background-color: rgba(49, 182, 138, 0.926);
    color: #ffffff;
    border: none;
  }
  .canceled-button{
    width:90px;
    height:30px;
    border-radius: 5px;
    background-color: rgba(209, 66, 125, 0.907);
    border: none;
    color: white;
  }
  .active-button{
    width:90px;
    height:30px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(35, 141, 146, 0.926);
    color: #ffffff;
    border: none;
  }
  .inactive-button{
    width:90px;
    height:30px;
    border-radius: 5px;
    background-color: rgba(209, 66, 125, 0.907);
    border: none;
    color: white;
  }