
<div class="heading">
    <h4>Bus Details</h4>
</div>
<div>
    <button mat-button color="primary" (click)="addBus()">Add Bus</button>
</div>

  
<div>
     <div class="col-md-12" >
       <app-commontable     [HeadingArray]="HeadingArray"   
                            [GridArray]="busManage" (Delete)="deleteBusData($event)" 
                            (edit)="editBus($event)" 
                            (Restrict)="onRestrictBus($event)"
                            (viewMoreBusDetails)="viewMoreBus($event)" >
        </app-commontable>
      </div>
</div>