
 <div class="containers">

    <div class="sub-nav">
        <div class="filters-group">
            <div class="filters-options">
                <button class="from-button"  style="color: rgb(226, 239, 141);">From  : <strong style="color: azure;"> {{ departurePlace }}</strong></button>
                <button class="arrow-button" style="margin-top: 5px;"><strong style="color: rgb(241, 241, 241);"><mat-icon>keyboard_arrow_right</mat-icon></strong></button>
                <button class="from-button" style="color: rgb(226, 239, 141);">To  : <strong style="color: azure;">{{ arrivalPlace }}</strong></button>
                <button class="from-button" style="color: rgb(226, 239, 141);">Date  : <strong style="color: azure;">{{ departdate }}</strong></button>
            </div>
        </div>
    </div>


    <div class="container" >

        <div class="sidebar" style="background-color: rgb(255, 255, 255)">
          <div class="side-content">
            <div class="filter-head">
              <h5>Filters</h5>
            </div>
           
            <button class="clearButton" (click)="clear()">Clear Filters</button>
              <div class="header">
                <span style="font-weight: 500;font-style: initial;">Seat type</span>
                
              </div>

            
              <div class="filter-group">
                  <div class="filter-options">
                      <button class="feture-button" (click)="filterBySeatType('A/c')"> <mat-icon>ac_unit</mat-icon>AC</button>
                      <button class="feture-button" (click)="filterBySeatType('Non A/c')">  <mat-icon>ac_unit_off</mat-icon>Non AC</button>
                  </div>
              </div>
              <div class="filter-group">
                
                  <div class="filter-options">
                      <button class="feture-button" (click)="filterBySeatType('sleeper')">  <mat-icon>hotel</mat-icon> Sleeper</button>
                      <button class="feture-button" (click)="filterBySeatType('seater')"><mat-icon>airline_seat_recline_extra</mat-icon> Seater</button>
                  </div>
              </div>

              <div class="header">
                <span style="font-weight: 500;font-style: initial;"> Choose fare anger</span>
                
              </div>

            
              <div class="filter-group">
                  <div class="filter-options">
                      <button class="feture-button" (click)="filterBySeatType('A/c')"> <mat-icon>ac_unit</mat-icon>AC</button>
                      <button class="feture-button" (click)="filterBySeatType('Non A/c')">  <mat-icon>ac_unit_off</mat-icon>Non AC</button>
                  </div>
              </div>
              <div class="filter-group">
                
                  <div class="filter-options">
                      <button class="feture-button" (click)="filterBySeatType('sleeper')">  <mat-icon>hotel</mat-icon> Sleeper</button>
                      <button class="feture-button" (click)="filterBySeatType('seater')"><mat-icon>airline_seat_recline_extra</mat-icon> Seater</button>
                  </div>
              </div>

            <div class="pickup-time">
                <div class="header">
                    <span style="font-weight: 500;font-style: initial;">Pick up time  Delhi</span>
            
                </div>
                <div class="time-slot">
                    <button class="clearButton " (click)="checkTimeRange('6:00 AM', '11:00 AM')">
                        <div class="material-icons">
                            <i class="material-icons">brightness_high</i>
                        </div>
                        <!-- <i class="material-icons">brightness_5</i> -->
                        <div  style="margin-left: 48px;">6AM to 11 AM</div>
                    </button>
                    <button class="clearButton " (click)="checkTimeRange('11:00 AM', '6:00 PM')">
                        <div class="material-icons">
                            <i class="material-icons">wb_sunny</i>
                            <mat-icon>keyboard_arrow_down</mat-icon> 
                            
                        </div>
                        <!-- <i class="material-icons">brightness_5</i> -->
                        <div  style="margin-left: 48px;">11AM to 6 PM</div>
                        
                    </button>
                    <button class="clearButton "  (click)="checkTimeRange('6:00 PM', '11:00 PM')">
                        <div class="material-icons">
                            <i class="material-icons">brightness_3</i>
                        </div>
                        <!-- <i class="material-icons">brightness_5</i> -->
                        <div  style="margin-left: 48px;" >6PM to 11 PM</div>
                    </button>
                    <button class="clearButton " (click)="checkTimeRange('11:00 PM', '6:00 PM')">
                        <div class="material-icons">
                            <i class="material-icons">wb_sunny</i>
                          <mat-icon>keyboard_arrow_up</mat-icon> 
                        </div>
                        <!-- <i class="material-icons">brightness_5</i> -->
                        <div  style="margin-left: 48px;">11PM to 6AM</div>
                    </button>
                </div>
              </div>


          </div>

        </div>
        
        <div class="card-column"> 
          
          <div class="bus-card"  *ngFor="let bus of buses">
            <div class="row">
                
              <!-- First Column -->
              <div class="cols bus-info">
                <h4>{{ bus.busName }}</h4>
                <h6 style="color: rgb(103, 103, 103);">{{ bus.busType  }}-{{bus.category}}</h6>
                <h6>{{ bus.busNumber  }}</h6>
                <p style="font-size: small;font-weight: 400;color: rgb(90, 90, 116);">{{ bus.email  }}</p>
                <!-- <p>4.6 ★★★★☆ | Primo</p> -->
              </div>
    
              <!-- Second Column -->
              <div class="col bus-info">
                <p style="font-style: normal;font-weight: 500;color: rgb(107, 107, 107);"><strong style="font-weight: 1200;">From  :</strong>  {{ bus.sourceLocation}} <span style="padding-left: 15px;padding-right: 15px;"></span><span style="padding-left: 15px;padding-right: 15px;"></span><strong style="font-weight: 1200;">To  :</strong>    {{bus.destinationLocation}}</p>
                <p >{{ bus.departureDate }}<span style="padding-left: 15px;padding-right: 15px;"></span>—<span style="padding-left: 15px;padding-right: 15px;"></span>{{bus.arrivalDate}}</p>
                <p> {{bus.departureTime}}<span style="padding-left: 35px;padding-right: 35px;"></span><span style="padding-left: 35px;padding-right: 35px;"></span>{{bus.arrivalTime}}</p>
              </div>
    
            
              <div class="col bus-info">
                <h4 style="margin-left: 160px;">Fare : ₹{{ bus.fare }}</h4>
                <h6>Total Seats  |{{ bus.totalSeats }}</h6>
                <h6 style="color: rgb(21, 173, 67);">Available Seats  |{{ bus.availableSeats }}</h6>
                <h6>Double Seats | {{ bus.doubleSeatCount }} <span style="padding-right: 10px;"></span> Third Row Seats | {{ bus.thirdRowSeatCount }}</h6>
                <!-- <h6>Third Row Seats | {{ bus.thirdRowSeatCount }}</h6> -->
              
                <div class="bus-button" style="margin-top: 25px;">
                  <button (click)="selectSeats(bus.uuid)">SELECT SEATS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
 </div> 
 
  


<!-- <div class="container"> -->
    <!-- Sidebar -->
    <!-- <div class="sidebar"> -->
      <!-- Add your filters here -->
      <!-- <h4>Filters</h4> -->
      <!-- Example filter options -->
      <!-- <label><input type="checkbox"> Option 1</label>
      <label><input type="checkbox"> Option 2</label>
      <label><input type="checkbox"> Option 3</label>
    </div> -->

    <!-- Card -->
    <!-- <div class="bus-card"  *ngFor="let bus of buses">
      <div class="row"> -->
        <!-- First Column -->
        <!-- <div class="col bus-info">
          <h4>{{ bus.busName }}</h4>
          <h6>{{ bus.busType  }}-{{bus.category}}</h6>
          <h6>{{ bus.busNumber  }}</h6>
          <p>{{ bus.email  }}</p>
          <p>4.6 ★★★★☆ | Primo</p>
        </div> -->

        <!-- Second Column -->
        <!-- <div class="col bus-info">
          <p>23:30 28 FEB — 08:10 29 FEB</p>
          <h3>{{bus.totalHour}}hr</h3>
        </div> -->

        <!-- Third Column -->
        <!-- <div class="col bus-info">
          <p>{{ bus.fare }}</p>
          <p>Total Seats  |{{ bus.totalSeats }}</p>
          <p>Available Seats  |{{ bus.availableSeats }}</p>
          <p>Double Seats | {{ bus.doubleSeatCount }}</p>
          <p>Third Row Seats | {{ bus.thirdRowSeatCount }}</p>
          <p>37 Seats Left | 18 Window Seats</p>
          <div class="bus-button">
            <button (click)="selectSeats(bus.uuid)">SELECT SEATS</button>
          </div>
        </div>
      </div> -->

      <!-- Second Row -->
      <!-- <div class="row"> -->
     
        <!-- <div class="col bus-options">
          <a href="#">Policies</a>
          |
          <a href="#">Photos</a>
          |
          <a href="#">Amenities</a>
          |
          <a href="#">Pickups & Drops</a>
          |
          <a href="#">Reviews (600 Ratings)</a>
        </div> -->


        <!-- <div class="col">
          <h4>Starts From Dehradun</h4>
        </div> -->
      <!-- </div> -->
    <!-- </div>
  </div> -->
