<!-- <p>chat works!</p> -->
<div style="background-color: rgb(129, 129, 213);height: 900px;">

</div>
<div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title" style="background-color: rgb(63, 63, 220);font-size: 23px;font-weight: 600;">
        <!-- <img src="../../../assets/whatsapp-icon.png" width="25px" height="25px"> -->
        WhatsApp
      </div>
    </div>
    <ul class="messages">
      <li class="message right" *ngFor="let msg of messageList" [ngClass]="{'left':msg.message_side==='receiver','right':msg.message_side==='sender'}">

        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{msg.message}}</div>
          <div class="message_date">
            <p>{{ msg.messageDate | date: 'mediumTime' }}</p>
          </div>
        </div>
      
        <!-- <p>{{ msg.messageDate | date: 'mediumTime' }}</p> -->
      </li>
    </ul>
    <div class="bottom_wrapper clearfix" >
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Message..."  [(ngModel)]="messageInput"/>
      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        <div class="text">Send</div>
      </div>
      <!-- <div class="send_message" (click)="sendPrivateMessage()">
        <div class="icon"></div>
        <div class="text">Send private</div>
      </div> -->
    </div>
  </div>
